/* .header{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.cardWrapper{
    margin: 18px;
}
.wrapper{
    display: flex;
    gap:40px;
    flex-wrap: wrap;

}
.toogleText{
    cursor: pointer;
    color: var(--color-primary);
    
} */



.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardWrapper {
    margin-top: 18px;
}

.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.toggleText {
    cursor: pointer;
    color: var(--color-primary)
}

.filterWrapper {
    margin-top: 15px;
}